{% load static %}
<!doctype html>
<html lang="es" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <!-- TITLE -->
    <title>RegAl</title>

    <!-- STYLES -->
    {% include 'components/layouts/styles.html' %}
    {% block styles %}{% endblock styles %}

</head>

<body class="ltr app sidebar-mini light-mode">

    <!-- PAGE -->
	<div class="page">
		<div class="page-main">

            <!-- APP-HEADER -->
            {% include 'components/layouts/app-header.html' %}

            <!-- APP-SIDEBAR -->
            {% include 'components/layouts/app-sidebar.html' %}

            <!--app-content open-->
			<div class="app-content main-content mt-0">
				<div class="side-app">

					 <!-- CONTAINER -->
					 <div class="main-container container-fluid">
                           
                        {% block content %}
                        
                        
                        {% endblock content %}

                    </div>
                        <!-- MAIN-CONTAINER END -->
                </div>
            </div>
                    <!-- APP-CONTENT END -->
        </div>
            <!-- PAGE-MAIN END -->

     
        <!-- MODAL -->
        {% include 'components/layouts/modal.html' %}

        <!-- FOOTER -->
        {% include 'components/layouts/footer.html' %}

    </div>
    <!-- PAGE END -->

    <!-- SCRIPTS -->
    {% include 'components/layouts/scripts.html' %}
    {% block scripts %}{% endblock scripts%}

</body>

</html>
